body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a5a5a5;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #ffc400;
    color: white;
    padding: 10px 0;
  }
  
  .logo {
    display: inline-block;
    width: 70px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .search-bar {
    display: inline-block;
    float:right;

  }
  
  .search-bar input {
    padding: 5px;
  }
  
  .search-bar button {
    padding: 5px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  main {
    padding: 20px 0;
  }
  
  h2 {
    text-align: center;
  }
  
  .product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 200px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h3 {
    margin: 10px 0 5px;
  }
  
  .product-card p {
    color: #ff6600;
    font-weight: bold;
  }
  
  .product-card button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .product-card button:nth-of-type(2){
  background-color: #009dff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  }

  
  footer {
    background-color: #ffc400;
    color: white;
    text-align: center;
    padding: 10px 0
  }
